<!-- app/templates/model_form.html -->

{% extends "layout.html" %}

{% block content %}
    <h2>User Input</h2>

    <p>User Recommendation Form</p>

    <form action="/cannabis/output_knn01" method="POST">

        <fieldset>
            <legend>Type List</legend>
            <select name="type_list" size="3" multiple class="chosen-select" id="type_list">
                <option value="indica">Indica</option>
                <option value="sativa">Sativa</option>
                <option value="hybrid">Hybrid</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Effect List</legend>
            <select name="effect_list" size="13" multiple class="chosen-select" id="effect_list">
                <option value="happy">Happy</option>
                <option value="relaxed">Relaxed</option>
                <option value="euphoric">Euphoric</option>
                <option value="uplifted">Uplifted</option>
                <option value="creative">Creative</option>
                <option value="sleepy">Sleepy</option>
                <option value="energetic">Energetic</option>
                <option value="focused">Focused</option>
                <option value="hungry">Hungry</option>
                <option value="talkative">Talkative</option>
                <option value="tingly">Tingly</option>
                <option value="giggly">Giggly</option>
                <option value="aroused">Aroused</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Flavor List</legend>
            <select name="flavor_list" size="47" multiple class="chosen-select" id="flavor_list">
                <option value="earthy">Earthy</option>
                <option value="sweet">Sweet</option>
                <option value="citrus">Citrus</option>
                <option value="pungent">Pungent</option>
                <option value="berry">Berry</option>
                <option value="pine">Pine</option>
                <option value="flowery">Flowery</option>
                <option value="woody">Woody</option>
                <option value="spicy">Spicy</option>
                <option value="herbal">Herbal</option>
                <option value="lemon">Lemon</option>
                <option value="skunk">Skunk</option>
                <option value="tropical">Tropical</option>
                <option value="blueberry">Blueberry</option>
                <option value="grape">Grape</option>
                <option value="orange">Orange</option>
                <option value="cheese">Cheese</option>
                <option value="pepper">Pepper</option>
                <option value="lime">Lime</option>
                <option value="strawberry">Strawberry</option>
                <option value="grapegruit">Grapegruit</option>
                <option value="sage">Sage</option>
                <option value="mint">Mint</option>
                <option value="pineapple">Pineapple</option>
                <option value="lavender">Lavender</option>
                <option value="chemical">Chemical</option>
                <option value="vanilla">Vanilla</option>
                <option value="mango">Mango</option>
                <option value="honey">Honey</option>
                <option value="tree">Tree</option>
                <option value="fruit">Fruit</option>
                <option value="amonia">Amonia</option>
                <option value="menthol">Menthol</option>
                <option value="nutty">Nutty</option>
                <option value="coffee">Coffee</option>
                <option value="butter">Butter</option>
                <option value="tea">Tea</option>
                <option value="apple">Apple</option>
                <option value="rose">Rose</option>
                <option value="biolet">Violet</option>
                <option value="apricot">Apricot</option>
                <option value="tar">Tar</option>
                <option value="chestnut">Chestnut</option>
                <option value="tobacco">Tobacco</option>
                <option value="peach">Peach</option>
                <option value="pear">Pear</option>
                <option value="plum">Plum</option>
            </select>
        </fieldset>

        <button style="margin:10px">Submit</button>
    </form>
{% endblock %}